{
  "name" : "dictionaryRandomAccess",
  "files" : [
    "examples/printVersion.c",
    "lib/lz4.c",
    "lib/lz4frame.c",
    "lib/lz4hc.c",
    "lib/xxhash.c" , 
    ".tis/taas-stubs/my-stubs.c"  ],
  "main" : "main",
  "compilation_cmd" : "-Ilib -I.tis/mkfs -I.tis/taas-stubs",
  "machdep" : "gcc_x86_64"
}
